{% extends "base.html" %}

{% block content %}

<section class = "style-container">
    <form role="form" method="post" action="" enctype="multipart/form-data">

    <div class="select-image">
        <div class ="select-image-top">
            <label id = "lable" for="Image" class="form-label">Select Your Fashion Image Please</label>
            <button id = 'lable-btn' type = "submit" class="label-btn btn btn-primary disabled">Click me</button>
        </div>
        {% csrf_token %}
        <input class="form-control" type="file" required id="id_file" name="file" onchange="preview()">
    </div>
    </form>
    <img id="frame" src="https://mblogthumb-phinf.pstatic.net/MjAxODAzMDNfMjU4/MDAxNTIwMDQxODA4Mjc0.gR3L5xx3IbpACbvRRF9j9xjJmO-EPAY35oF1AdBnDcog.WZyeqFi6cMmH-v-R-ec44Ny6ZgVyAJIYMT78p4Rxbkwg.PNG.osy2201/2_%2850%ED%8D%BC%EC%84%BC%ED%8A%B8_%ED%9A%8C%EC%83%89%29_%ED%9A%8C%EC%83%89_%EB%8B%A8%EC%83%89_%EB%B0%B0%EA%B2%BD%ED%99%94%EB%A9%B4_180303.png?type=w800" class="img-fluid" />
</section>

{% block javascripts %}
<script>
    function preview() {
        document.getElementById('lable').innerHTML = "Is this image right?"
        document.getElementById('lable-btn').classList.remove("disabled")
        frame.src = URL.createObjectURL(event.target.files[0]);
    }
</script>
{% endblock javascripts %}


{% endblock content %}