{% extends "base.html" %}

{% block content %}
<div class = "account-body">
    <div class = "body-title">
        <h3>my page</h3>
    </div>
    <div class="body">
        <canvas id="vpnPieChart" width="600" height="600"></canvas>
        <div class ="description">
            <h1>{{request.user}}님의 패션 분석 보고서</h1>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script> 
    var style_key_list = {{style_key_list | safe }}
    var style_value_list = {{style_value_list | safe }}

    var vpn_pie = document.getElementById('vpnPieChart').getContext('2d');
    var vpnPieChart = new Chart(vpn_pie, {
        type: 'pie',
        data:{
            labels: style_key_list,
            datasets: [{
                data: style_value_list,
                backgroundColor: [
                    "#ff758c",
                    "#667eea",
                    "#89f7fe",
                    "#48c6ef",
                    "#ff9a9e",
                    "#ffecd2",
                    "#ff9a9e",
                    "#a1c4fd",
                    "#cfd9df",
                    "#f5f7fa"
                ],
                borderWidth: 0
            }]
        },
        options: {
			responsive: false,
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			},
		}
    });
</script>

{% endblock content %}