{% extends "base.html" %}

{% block content %}

    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="main">
        <div class="register-body">
            <div class="card">
                <form role="form" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %} 

                <div class = "input-container ">
                    <h4>Please Input Your Information</h4>

                    <label>Username</label>
                    {{ sign_form.username }}

                    <label>email</label>
                    {{ sign_form.email }}

                    <label>password1</label>
                    {{ sign_form.password1 }}

                    <label>Username</label>
                    {{ sign_form.password2 }}
                </div>
                    <div class = "input-container">
                        <h4>Please Input Your Fashion Images</h4>

                        <label>Img 1</label>
                        {{ image_form.img1 }}

                        <label>Img 2</label>
                        {{ image_form.img2 }}

                        <label>Img 3</label>
                        {{ image_form.img3 }}

                        <label>Img 4</label>
                        {{ image_form.img4 }}

                        <label>Img 5</label>
                        {{ image_form.img5 }}

                        <label>Img 6</label>
                        {{ image_form.img6 }}

                        <label>Img 7</label>
                        {{ image_form.img7 }}

                        <label>Img 8</label>
                        {{ image_form.img8 }}

                        <label>Img 9</label>
                        {{ image_form.img9 }}

                        <label>Img 10</label>
                        {{ image_form.img10 }}
                    </div>
                    <div class="d-grid gap-2">
                        <button type = "submit" name = "login" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal" >
                            Register
                        </button>
                      </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Please wait...</h5>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary" role="status" style="width: 5vh; height: 5vh;">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                  </div>
            </div>
        </div>
      </div>
{% endblock content %}
